<% @customers.each do |customers|  %>
  <h2><%=customers.Full_name%></h2>
  <h3><%=customers.Email_address%></h3>
  <!-- it should be phone number typos acknowledged Lol -->
  <h3><%=customers.Phone_name%></h3>
<% end %>

