<div class="grid container">
  <br>
  <h3 class="ui teal center aligned header">
    All Customers
  </h3>
  <div class="ui main text container">
    <%= render partial: 'customer', object: @customers %>
  </div>
</div>
